/*!
 * Start Bootstrap - Stylish Portfolio (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}
/*
p, ul, li{
    font-size: 20px;
    font-family: "Lato", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}
*/
.titre{
    font-size: 30px;
    font-family: "Lato", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color: inherit;
}

h1 { color: #F90B6D; font-family: 'Lato', sans-serif; font-size: 44px; font-weight: 300; line-height: 40px; margin: 0 0 16px; }

h2 { color: #F90B6D; font-family: 'Lato', sans-serif; font-size: 34px; font-weight: 300; line-height: 32px; margin: 0 0 14px; }



p, ul, li { color: #222; font-family: 'Lato', sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; margin: 0 0 14px; }


a {  color: #222; text-decoration: none; }


a:hover {  text-decoration: none; }

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    color: aliceblue;
    font-family: "Lato", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 700;
    margin: 50px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 7em;
}
.text-vertical-center h3 {
    color:azure ;
    font-family: Arial,sans-serif;
    font-weight: 50;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 2em;
}

/* Custom Button Styles */

.btn-dark {
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.logo{

}
.bg {
    /* The image used */
    background-image: url("../img/bg.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

.full-width {
    width: 100%;
    background: crimson;
}
.wrap {
    width: 80%;
    max-width: 24em;
    margin: 0 auto;
    padding: 0.25em 0.625em;
}

/* About */
.about {
    padding: 50px 0;
    background-color: floralwhite;
}

/* contact */
.contact {
    padding: 150px 0;
}

.blanc{
    color: cornsilk;
}
.black{
    color: HighlightText;
}
.coral{
    color: yellow;
}

/* Madagascar */
.mada {
    padding: 50px 0;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Makalioka */
.makalioka {
    padding: 50px 0;
    background-color: indianred;
}

/* Services */
.services {
    padding: 100px;
    background-color: #6C0277;
}

.sante{
    background-color:#E7F3CB;
}
.education{
    background-color: #FDFFF1;
}
.urgence{
    background-color: #FFBABC;
}

.partenaire{
    background-color: #EFFFEB;
}

.engager{
    background-color: #EBFFE3;
}



.membres{
    background-color: #C0ADDB;
}


.adresse, .text-page{
    background-color: #D8BFD8;
}


[class^="pe-7s-"], [class*=" pe-7s-"] {
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.heading{
    font-family: "Lato", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 45px;
}
.service-item {
    margin-bottom: 30px;
}


.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.sr-only-focusable:focus,
.sr-only-focusable:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
}


/* Callout */
.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
    padding: 20px;
    position: relative;
    overflow: hidden
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    pointer-events: none;
}

/* Footer */

footer {
    padding: 100px 0;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.contact {
    padding: 50px;
}

.carousel-caption p {
    color: white;
}